# Java / Maven
server/target/
server/src/main/logs/*
!server/src/main/logs/.gitkeep
server/data/pgdata/
server/data/*
!server/data/.gitkeep
server/.classpath
server/.project
server/.settings/

# Godot
client/.godot/
client/.import/
client/export_presets.cfg

# Docker
.docker/

# OS / IDE
.DS_Store
.idea/
*.iml
.vscode/
*.swp
*~
